body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./Background2_.jpg") fixed  ;
    background-size: cover;
}

#board {
    width: 90vw;
    max-width: 540px;
    height: 90vw;
    max-height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    background: url("./Soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    width: 33.33%;
    height: 33.33%;
    background-image: url("./Pipe.png");
    background-size: cover; 
}

#board div img {
    width: 55%;
    max-width: 100px;
    height: auto;
    pointer-events: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#title {
    font-size: clamp(20px, 5vw, 32px);
    text-align: center;
    margin: 0;
}

#highscore {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);

    display: inline-block;
    padding: 5px 15px;
    color: red;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px;
    white-space: nowrap;
}

.new-record {
    animation: flash 0.8s ease-in-out;
}

@keyframes flash {
    0% {transform: translateY(-100%) scale(1); background-color: bisque;}
    50% {transform: translateY(-100%) scale(1.5); background-color: gold;}
    100% {transform: translateY(-100%) scale(1); background-color: bisque;}
}

#overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.overlay-box {
    background: #fff8dc;
    padding: 30px 50px;
    width: clamp(200px, 40vh, 265px);
    border-radius: 20px;
    text-align: center;
    border: 3px solid black;
    animation: pop 0.4s ease-out;
}

.overlay-box h1 {
    margin-top: 0;
}

#finalScore, #finalHighScore {
    font-weight: normal;
}

#record {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

@keyframes pop {
    from {transform: scale(0.7); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

#difficulty {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.diff-btn {
    display: block;
    /* width: 200px; */
    font-size: clamp(14px, 4vw, 32px);
    width: 76%;
    margin: 15px auto;
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;

    border-radius: 20px;
    border: 2px solid black;
    background: bisque;
    cursor: pointer;
    transition: transform 0.15s , background-color 0.15s;
}

.diff-btn:hover {
    background-color: gold;
    transform: scale(1.08);
}

.diff-btn.selected {
    background-color: gold;
}

#timer {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-100%);

    display: none;
    padding: 5px 15px;
    color: red;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px;
    white-space: nowrap;
}

.time-warning {
    animation: flash-red 0.6s infinite;
}

@keyframes flash-red {
    0% {background-color: darkred; color: white;}
    50% {background-color: bisque; color: red;}
    100% {background-color: darkred; color: white;}
}

@media screen and (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
    }

    #title {
        font-size: clamp(20px, 5vw, 32px);
    }

    #highscore {
        position: static !important;
        transform: none !important;
        font-size: clamp(14px, 4vh, 32px);
    }

    #timer {
        transform: translateY(-215%);
    }

    .diff-btn {
        width: 70%;
        font-size: 16px;
    }

    #score, #highscore, #timer {
        font-size: 16px;
        padding: 4px 8px;
    }
}